.banner {
  height: 76vh;
  display: flex;
  flex-direction: column;
  @include media-min($medium) {
    height: 84vh;
  }
  @include media-min($large) {
    height: 94vh;
    flex-direction: row;
  }
}

.banner-image {
  background-position: bottom;
  background-size: cover;
  flex-grow: 1;
  position: relative;
}

.banner-baseline {
  background-color: rgba($color: $secondary, $alpha: 0.8);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  border-radius: 0 8px 8px 0;
  @include media-min($large) {
    height: 100%;
    justify-content: center;
    width: 400px;
    right: 0;
    bottom: 0;
    border-radius: 0;
    background-color: rgba($color: $secondary, $alpha: 1);
    padding: 24px;
  }
}

.banner-incrustation {
  gap: 0;
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  align-items: center;
  width: fit-content;
  right: 24px;
  top: 16px;
  transform: rotate(8deg);
  position: absolute;
  @include media-min($medium) {
    right: 32px;
    top: 24px;
  }
  @include media-min($large) {
    padding-bottom: 32px;
    transform: rotate(-8deg);
    top: unset;
    left: 40px;
    bottom: 32px;
  }
  // transform: rotate(12deg);
  img {
    height: 100px;
    width: 100px;
    @include media-min($medium) {
      height: 140px;
      width: 140px;
    }
    @include media-min($large) {
      height: 160px;
      width: 160px;
    }
  }
  p {
    color: $white;
    font-family: "Concert One", "Helvetica", "sans-serif";
    margin-bottom: 0;
    font-size: 18px;
    @include media-min($large) {
      font-size: 20px;
    }
  }
}
