.banner {
  height: 80vh;
  position: relative;
  background-position: bottom;
  background-size: cover;
  @include media-min($medium) {
    height: 84vh;
  }
  @include media-min($large) {
    height: 92vh;
  }
}

.banner-baseline {
  background-color: rgba($color: $secondary, $alpha: 0.9);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 16px;
  position: absolute;
  bottom: 24px;
  border-radius: 0 8px 8px 0;
  width: 96%;
  @include media-min($medium) {
    width: 66%;
  }
  @include media-min($large) {
    height: 100%;
    justify-content: center;
    /* gap: 16px; */
    width: 320px;
    right: 0;
    bottom: 0;
    border-radius: 0;
    background-color: rgba($color: $secondary, $alpha: 1);
    padding: 24px;
  }
}
