<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path "tjp/tjp_banner" %>')"
  >
  <div class="banner-baseline">
    <%# <div class="container"> %>
      <h1><%= t('pages.home.title') %></h1>
      <p>
        <%=
          t('pages.home.banner_days_letter') + "-300 " + t('pages.home.banner_subtitle')
        %>
      </p>
      <%= link_to t('pages.home.banner_cta'), "/", class: "btn btn-primary px-4 py-3 rounded-3" %>
    <%# </div> %>
  </div>
</div>
