<div class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path "tjp/fake_home_picture" %>')"
  >
  <div class="banner-baseline">
    <div class="container">
      <h1><%= t('pages.home.title') %></h1>
      <p><%= t('pages.home.counter') + "-300" %></p>
    </div>
  </div>
</div>
