<div class="section home-partners">
  <h2><%= t('pages.home.partners_h2') %></h2>
  <div class="partners-list">
    <div class="partner-item gold-partner">
      <div class="partner-logo">
      </div>
      <p>Partner Name</p>
      <span><%= t('pages.home.partners_gold') %></span>
    </div>
    <div class="partner-item silver-partner">
      <div class="partner-logo">
      </div>
      <p>Partner Name</p>
      <span><%= t('pages.home.partners_silver') %></span>
    </div>
    <div class="partner-item bronze-partner">
      <div class="partner-logo">
      </div>
      <p>Partner Name</p>
      <span><%= t('pages.home.partners_bronze') %></span>
    </div>
  </div>
</div>
