body {
  background-color: $primary;
}

.page-content {
  background-color: $secondary;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
}
