.navbar {
  justify-content: space-between;
  background: $primary;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.navbar-nav {
  @include media-min($large) {
    gap: 12px;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin-right: auto;
}

.navbar .navbar-brand img {
  width: 48px;
}

.locale-switch {
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: fit-content;
  margin-right: 12px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  list-style: none;
  height: 40px;
  display: flex;
  align-items: center;
  a {
    color: rgba(255, 255, 255, 0.55) !important;

  }

  .nav-link:hover {
    color: rgba(255, 255, 255, 0.55);
  }

  .dropdown-menu {
    color: rgba(255, 255, 255, 0.55);
    background-color: $primary;
  }

  .dropdown-menu[data-bs-popper] {
    top: 100%;
    margin-top: var(--bs-dropdown-spacer);
  }

  li {
    text-align: center;
  }

  ul {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    left: unset !important;
    right: 0;
  }

  .navbar-toggler {
    border-radius: 4px !important;
  }
}
